<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="css/lat_and_lon.css">
</head>
<body>
    <p><%= place %></p>
    <ul class='position' type='disc'>
        <li>latitude: <%= latt %></li>
        <li>longitude: <%= lonn %></li>
        <li>sun:  <%= obj.SUN %> </li>
        <li>moon:  <%= obj.MOON %> </li>
        <li>mercury:  <%= obj.MERCURY %> </li>
        <li>venus:  <%= obj.VENUS %> </li>
        <li>mars:  <%= obj.MARS %> </li>
        <li>jupiter:  <%= obj.JUPITER %> </li>
        <li>saturn:  <%= obj.SATURN %> </li>
        <li>uranus:  <%= obj.URANUS %> </li>
        <li>pluto:  <%= obj.PLUTO %> </li>
        <li>node:  <%= obj.NODE %> </li>
    </ul>

    <button type="submit">continue</button>
</body>
</html>